.container{
    display: flex;
}
.settings {
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 300px;
    border: 1px solid black;
    padding: 10px;
}
.inputs{
    margin: auto;
    width: 250px;
    height: 25px;
}
.btns {
    margin: auto;
    margin-top: 10px;
    width: 200px;
    height: 50px;
}

#paintPanel{
    margin: auto;
    display: flex;
    justify-content: center;
    width: 500px;
    height: 500px;
}